.svgs {
  z-index: 1;
}

.inyoutaikyoku1 {
  position: fixed;
  left: -50vw;
  width: 100vw;
  height: 100vh;
  animation: rota1 6s linear infinite;
}

.inyoutaikyoku2 {
  position: fixed;
  right: -50vw;
  width: 100vw;
  height: 100vh;
  animation: rota1 6s linear infinite;
}

@keyframes rota1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.titles {
  position: absolute;
  z-index: 2;
  text-align: center;
}

.logo {
  margin: auto;
  width: 75%;
  height: auto;
  margin: 0px 0px 0px 40px;
  animation: logo-up 2s cubic-bezier(.4, 0, .2, 1);
}

@keyframes logo-up {
  0% {
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}
