.inyoutaikyoku1 {
  position: fixed;
  left: -50vw;
  width: 100vw;
  height: 100vh;
  animation: rota1 6s linear infinite;
}

.inyoutaikyoku2 {
  position: fixed;
  right: -50vw;
  width: 100vw;
  height: 100vh;
  animation: rota1 6s linear infinite;
}

@keyframes rota1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
